.post-type-archive-intranet {
			.intranet-detail {
			&::after {
				content: '-----------------------------------------';
			}
		}
	}


.main-intranet {
	margin: 0 auto;
	width: 1120px;

	.read-more {
		display: block;
	}
}